body{
	background: #000;
	height: 1600px;
	width: 2560px;
	position: relative;
	margin: 0;
  overflow: hidden;
}
.axis--x path {
  display: none;
}

.axis text {
  font: 10px sans-serif;
  fill: white;    
}

.data-div{
	height: 480px;
	width: 600px;
	position: absolute;
}
.div-1{
	top: 0;
	left: 50%;
	margin-left: -340px;
  transform: scale(-1,1);
}
.div-2{
	top: 50%;
	margin-top: -200px;
	transform: rotate(-90deg) scale(-1,1);
	left: 430px;
}
.div-3{
	bottom: 0;
	left: 50%;
	margin-left: -260px;
	transform: rotate(180deg) scale(-1,1);
}
.div-4{
	top: 50%;
	margin-top: -280px;
	transform: rotate(-270deg) scale(-1,1);
	right: 380px;
}
.legend-1{
    float: left;
    position: absolute;
    right: 50%;
    margin-right: -570px;
    transform: scale(0.8) scale(-1,1);
    top: -30px;
}
.legend-2{
    float: left;
    position: absolute;
    margin-top: 211px;
    margin-left: -880px;
    transform: scale(0.8) rotate(-90deg) scale(-1,1);
    left: 50%;
}
.legend-3{
    float: left;
    position: absolute;
    right: 50%;
    margin-right: 280px;
    transform: scale(0.8) rotate(180deg) scale(-1,1);
    bottom: -30px;
}
.legend-4{
    float: left;
    position: absolute;
    margin-top: 1011px;
    margin-right: -850px;
    transform: scale(0.8) rotate(-270deg) scale(-1,1);
    right: 50%;
}


body { font-family: sans-serif; }

#sort-it input { font-size: 1em;} /* prevent zoom in mobile */

#sort-it ol {
  /* list style is faked with number inputs */
  list-style: none;
  padding: 0;
}

#sort-it li {
  position: relative;
  min-height: 1em;
  cursor: move;
  padding: .5em .5em .5em 2.5em;
  border: 1px solid #ccc;
  margin: .25em 0;
  border-radius: .25em;
  max-width: 16em;
  color: white
}
.sort-it ol {
  /* list style is faked with number inputs */
  list-style: none;
  padding: 0;
}

.sort-it li {
  position: relative;
  min-height: 1em;
  cursor: move;
  padding: .5em .5em .5em 2.5em;
  border: 1px solid #ccc;
  margin: .25em 0;
  border-radius: .25em;
  max-width: 16em;
  color: white
}
    
#sort-it li#first{
background: #1f77b4;   
}

#sort-it li#second{
background: #aec7e8;
color: black
}
    
#sort-it li#third{
background: #ff7f0e;
}
    
#sort-it li#fourth{
background: #ffbb78;
color: black
}
    
#sort-it li#fifth{
background: #2ca02c;        
}
 
#sort-it li#sixth{
background: #98df8a;
color: black
}
    
#sort-it li#seventh{
background: #d62728;
}
    
#sort-it li#eighth{
background: #ff9896;
color: black
}
.first{
background: #1f77b4;   
}

.second{
background: #aec7e8;
color: black
}
    
.third{
background: #ff7f0e;
}
    
.fourth{
background: #ffbb78;
color: black
}
    
.fifth{
background: #2ca02c;        
}
 
.sixth{
background: #98df8a;
color: black
}
    
.seventh{
background: #d62728;
}
    
.eighth{
background: #ff9896;
color: black
}

#sort-it li input {
  /* Move these to visually fake the ol numbers */
  position: absolute;
  width: 1.75em;
  left: .25em;
  top: .4em;
  border: 0;
  text-align: right;
  background: transparent;
  color: white
}

#sort-it li input#custom-number-2{
  color: black
}

#sort-it li input#custom-number-4{
  color: black
}    

#sort-it li input#custom-number-6{
  color: black
}

#sort-it li input#custom-number-8{
  color: black
}
        
#sort-it li label {
  /* visually hidden offscreen so it still benefits screen readers */
  position: absolute;
  left: -9999px;
}

/* sortable plugin styles when dragged */

#sort-it .dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

#sort-it li.placeholder {
  position: relative;
  background: #eee;
}
